body {
  background-color: #282c34;
}

#root {
  width: 100%;
}

.App {
  padding-left: 220px;
  padding-top: 50px;
}

.SamplerSlider {
  margin-left: 20px;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
}
