.Sidebar {
  width: 200px;
  background-color: #282c34;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sidebar h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}
