.Sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 36px;
  color: white;
  padding-right: 150px;
}
