.doodles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .doodles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .doodles {
    grid-template-columns: repeat(1, 1fr);
  }
}

.doodle {
  margin: 1rem;
}
